[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
flake8 = "*"
ipython = "*"
isort = "*"
jupyterlab = "*"
loguru = "*"
matplotlib = "*"
mkdocs = "*"
notebook = "*"
numpy = "*"
pandas = "*"
python-dotenv = "*"
scikit-learn = "*"
tqdm = "*"
typer = "*"
marine-fish-analysis-dashboard = {file = ".", editable = true}

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.1"
